In [1]:
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math

/home/zeus/miniconda3/envs/cloudspace/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data = pd.read_csv("../../Z_Resources/Statistics with Python/Inferential Statistics/Capstone Project - Lights, Camera, Statistics!/imdb.csv")
data.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [3]:
df = data[["IMDB_Rating","Series_Title", "Released_Year","Certificate", "Runtime","Genre", "Meta_score", "Director", "Gross","No_of_Votes"]]
df.head()

,IMDB_Rating,Series_Title,Released_Year,Certificate,Runtime,Genre,Meta_score,Director,Gross,No_of_Votes
0,9.3,The Shawshank Redemption,1994,A,142 min,Drama,80.0,Frank Darabont,"28,341,469",2343110
1,9.2,The Godfather,1972,A,175 min,"Crime, Drama",100.0,Francis Ford Coppola,"134,966,411",1620367
2,9.0,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",84.0,Christopher Nolan,"534,858,444",2303232
3,9.0,The Godfather: Part II,1974,A,202 min,"Crime, Drama",90.0,Francis Ford Coppola,"57,300,000",1129952
4,9.0,12 Angry Men,1957,U,96 min,"Crime, Drama",96.0,Sidney Lumet,"4,360,000",689845

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IMDB_Rating    1000 non-null   float64
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Gross          831 non-null    object
 9   No_of_Votes    1000 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 78.2+ KB

In [5]:
df.nunique()

IMDB_Rating       17
Series_Title     999
Released_Year    100
Certificate       16
Runtime          140
Genre            202
Meta_score        63
Director         548
Gross            823
No_of_Votes      999
dtype: int64

In [6]:
df["Released_Year"] = pd.to_numeric(df["Released_Year"],errors = "coerce")

/tmp/ipykernel_14825/3535602042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Released_Year"] = pd.to_numeric(df["Released_Year"],errors = "coerce")

In [7]:
df["Runtime"] = df["Runtime"].map(lambda n: int(n.replace(" min","")))

/tmp/ipykernel_14825/3060058110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Runtime"] = df["Runtime"].map(lambda n: int(n.replace(" min","")))

In [8]:
def gross_fun(s):
    try:
        return float("".join(s.split(",")))
    except:
        return s

In [9]:
df["Gross"] =  df["Gross"].map(gross_fun)

/tmp/ipykernel_14825/2430747591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gross"] =  df["Gross"].map(gross_fun)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IMDB_Rating    1000 non-null   float64
 1   Series_Title   1000 non-null   object
 2   Released_Year  999 non-null    float64
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   int64
 5   Genre          1000 non-null   object
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Gross          831 non-null    float64
 9   No_of_Votes    1000 non-null   int64
dtypes: float64(4), int64(2), object(4)
memory usage: 78.2+ KB

In [11]:
df.Certificate.unique()

array(['A', 'UA', 'U', 'PG-13', 'R', nan, 'PG', 'G', 'Passed', 'TV-14',
       '16', 'TV-MA', 'Unrated', 'GP', 'Approved', 'TV-PG', 'U/A'],
      dtype=object)

In [12]:
df.Certificate.fillna("Unrated",inplace=True)

/tmp/ipykernel_14825/478679315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Certificate.fillna("Unrated",inplace=True)

In [13]:
df.drop(966,inplace = True)

/tmp/ipykernel_14825/1178305574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(966,inplace = True)

In [14]:
df = df.dropna().reset_index()

In [15]:
df

,index,IMDB_Rating,Series_Title,Released_Year,Certificate,Runtime,Genre,Meta_score,Director,Gross,No_of_Votes
0,0,9.3,The Shawshank Redemption,1994.0,A,142,Drama,80.0,Frank Darabont,28341469.0,2343110
1,1,9.2,The Godfather,1972.0,A,175,"Crime, Drama",100.0,Francis Ford Coppola,134966411.0,1620367
2,2,9.0,The Dark Knight,2008.0,UA,152,"Action, Crime, Drama",84.0,Christopher Nolan,534858444.0,2303232
3,3,9.0,The Godfather: Part II,1974.0,A,202,"Crime, Drama",90.0,Francis Ford Coppola,57300000.0,1129952
4,4,9.0,12 Angry Men,1957.0,U,96,"Crime, Drama",96.0,Sidney Lumet,4360000.0,689845
...,...,...,...,...,...,...,...,...,...,...,...
744,990,7.6,Giù la testa,1971.0,PG,157,"Drama, War, Western",77.0,Sergio Leone,696690.0,30144
745,991,7.6,Kelly's Heroes,1970.0,GP,144,"Adventure, Comedy, War",50.0,Brian G. Hutton,1378435.0,45338
746,992,7.6,The Jungle Book,1967.0,U,78,"Animation, Adventure, Family",65.0,Wolfgang Reitherman,141843612.0,166409
747,994,7.6,A Hard Day's Night,1964.0,U,87,"Comedy, Music, Musical",96.0,Richard Lester,13780024.0,40351
748,997,7.6,From Here to Eternity,1953.0,Passed,118,"Drama, Romance, War",85.0,Fred Zinnemann,30500000.0,43374

In [16]:
df.describe()

,index,IMDB_Rating,Released_Year,Runtime,Meta_score,Gross,No_of_Votes
count,749.000000,749.000000,749.000000,749.000000,749.000000,7.490000e+02,7.490000e+02
mean,519.443258,7.935247,1995.070761,123.280374,77.460614,7.482005e+07,3.422300e+05
std,292.629899,0.289036,19.509056,26.030965,12.502304,1.133460e+08,3.512039e+05
min,0.000000,7.600000,1925.000000,71.000000,28.000000,1.305000e+03,2.519800e+04
25%,268.000000,7.700000,1986.000000,104.000000,70.000000,5.014000e+06,8.851100e+04
50%,528.000000,7.900000,2001.000000,120.000000,78.000000,3.180000e+07,2.194660e+05
75%,773.000000,8.100000,2010.000000,136.000000,86.000000,9.696269e+07,4.819180e+05
max,997.000000,9.300000,2019.000000,238.000000,100.000000,9.366622e+08,2.343110e+06